<br>
<footer class="footer navbar-bottom py-3" style="background-color:#e48e2c">
    {% if messages %}
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <strong class="me-auto">Messages</strong>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>

        </div>
    </div>   
    {% endif %}
    <div class="container">
        <p class="text-center text-white m-0"><strong>Copyright &copy; www.velvasam.net (2022) </strong> Contact murugavel@gmail.com</p>
        <p class="text-center text-white m-0"> The non-profit site serves needy people of Kilinochchi District. </p>
    </div>
</footer>