{% extends 'home/base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">

    <div class="card">
      <div class="card">
        <div class="card-header"><strong>Mission</strong></div>
        <div class="card-body">
          <p class="card-text">
            Velvasam Charity is a non-profit organization dedicated to providing support and assistance to underprivileged students, patients, and elderly individuals in the North and East Provinces of Sri Lanka. Our mission is to make a positive impact on the lives of those in need through various charitable initiatives and programs.</p>
          </p>
          <br>
        <p class="card-text">
          We believe that every individual deserves access to education, healthcare, and basic necessities, regardless of their socio-economic background. Through our efforts, we aim to empower individuals and communities, helping them overcome challenges and build a better future.</p>
        </p
      </div>
      <br>
</div>
{% include 'home/footer.html' %}
{% endblock %}