{% extends 'home/base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">

    <div class="card">
      <div class="card">
        <div class="card-header"><strong>Mission</strong></div>
        <div class="card-body">
          <h5 class="card-title">Non-Profit informal charity to help needy students, patients and elders in Kilinochchi District of Srilanka.</h5>
          <p class="card-text">
          </p>
        </div>
      </div>
      <br>
</div>
{% include 'home/footer.html' %}
{% endblock %}