{% extends 'home/base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">

    <div class="card">
        <div class="card-header"><strong>People</strong></div>
        <div class="card-body text-left">
          <h5 class="card-title">Who are we:</h5>
          <p class="card-text"> Add the purpose with pictures          </p>
        </div>
      </div>
      <br><br>
      <div class="card">
        <div class="card-header"><strong>Mission</strong></div>
        <div class="card-body">
          <h5 class="card-title">Collective Vision</h5>
          <p class="card-text">
          </p>
        </div>
      </div>
      <br>
</div>
{% include 'home/footer.html' %}
{% endblock %}