{% extends 'home/base.html' %}
{% block content %}
<script type="text/javascript">
    function confirmDeleteModal(id){
        $('#delete_confirm_form').attr('action',"/accounts/beneficiaryDel/"+id);
        $('#deleteUserModal').modal('show');
    };    
</script>
{% if userRole == 'NONE' %}
<div class="container-fluid">
    <div class="row text-center justify-content-center">
            <div class="card mt-2 mb-2">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-12">
                        Unauthorized to view the content
                    </div>
                </div>
            </div>
            </div>
    </div>
</div>
{% else %}   
<div class="container-fluid">
    <div class="row text-center">
        <div class="card mt-2 mb-2">
            <div class="card-header">
                <p class="fw-bold" >Beneficiaries</p>
                <div class="row">
                    <div class="col-12 col-md-12">
                            {% if userRole == 'EDIT' %}
                            <a href="{% url 'accounts:beneficiaryAdd' %}">
                            <button type="button" class="btn btn-secondary btn-sm">Add</button>
                            </a>
                            {% endif %}

                            <!--a href="{% url 'accounts:beneficiaryTable' %}"
                            class="btn btn-secondary btn-sm">View</!--a-->

                            <button onclick="exportExcel()"
                                    class="btn btn-secondary btn-sm">Excel</button>

                            <button onclick="exportPdf()"
                                    class="btn btn-secondary btn-sm">PDF</button>
                    </div>

                </div>
            </div>
        </div>
   
        <!-- ================= DESKTOP VIEW ================= -->
        <div class="card mt-2 mb-2 d-none d-md-block">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Recomender</th>
                        <th>Category</th>
                        <th>School</th>
                        <th>Grade</th>
                        <th>Amount</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for data in data_list %}
                    <tr>
                        <th>{{forloop.counter}}</th>
                        <td>{{data.name}}</td>
                        <td>{{data.recommender}}</td>
                        <td>{{data.category}}</td>
                        <td>{{data.school}}</td>
                        <td>{{data.grade}}</td>
                        <td>{{data.amount|floatformat:"-3g"}}</td>
                        <td>
                            <a href="{% url 'accounts:beneficiaryDetail' data.id %}" class="btn btn-secondary btn-sm">Detail</a>
                            {% if userRole == 'EDIT' %}
                            <a href="{% url 'accounts:beneficiaryUpd' data.id %}" class="btn btn-secondary btn-sm">Edit</a>
                            <button class="btn btn-outline-danger btn-sm"
                                onclick="confirmDeleteModal('{{data.id}}')">
                                Delete
                            </button>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- ================= MOBILE VIEW ================= -->
        <div class="d-block d-md-none">
            {% for data in data_list %}
            <div class="card mb-3 shadow-sm">
                <div class="card-body bg-primary bg-opacity-10">
                    <h5 class="card-title">
                        {{forloop.counter}}. {{data.name}} [ {{data.category}} | Rs.{{data.amount|floatformat:"-3g"}} ]
                    </h5>
                    <p class="mb-1"><strong>School:</strong> {{data.school}} | <strong>Grade:</strong>{{data.grade}}</p>
                    <p class="mb-1"><strong>Recommender:</strong> {{data.recommender}}</p>
                </div>
                <div class="card-footer">
                   <div class="row">
                    <div class="col-12 col-md-12">
                        <a href="{% url 'accounts:beneficiaryDetail' data.id %}"
                        class="btn btn-secondary btn-sm text-center">Detail</a>
                        {% if userRole == 'EDIT' %}
                        <a href="{% url 'accounts:beneficiaryUpd' data.id %}"
                        class="btn btn-secondary btn-sm text-center">Edit</a>
                        <button class="btn btn-danger btn-sm" onclick="confirmDeleteModal('{{data.id}}')">Delete</button>
                        {% endif %}
                    </div></div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
 </div>
{% endif %}

<script>
function exportExcel() {
    fetch("{% url 'accounts:beneficiaryExcel' %}")
    .then(response => response.blob())
    .then(blob => {
        const url = window.URL.createObjectURL(blob);
        const a = document.createElement('a');
        a.href = url;
        a.download = "beneficiaries.xlsx";
        a.click();

        alert("Export successful ✅");
    });
}
</script>

<script>
function exportPdf() {
    fetch("{% url 'accounts:beneficiaryPdf' %}")
    .then(response => response.blob())
    .then(blob => {
        const url = window.URL.createObjectURL(blob);
        const a = document.createElement('a');
        a.href = url;
        a.download = "beneficiaries.pdf";
        a.click();

        alert("Export successful ✅");
    });
}
</script>



{% include 'home/footer.html' %}
{% endblock content %}