{% extends 'home/base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}
<script>
  var myModal = document.getElementById(' ')
  var myInput = document.getElementById('deleteUserModal')
  
  $(document).ready(function() {
    myInput.focus()
  });
</script>

  <div class="modal fade" id="deleteUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ title }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>{{message}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


{% include 'home/footer.html' %}
{% endblock %}