{% extends 'home/base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}
<div class="container-fluid">
    <div class="row no-gutter">
       <div class="d-none d-md-flex col-md-6 col-lg-8 bg-image"></div>
        <div class="col-md-6 col-lg-4">
            <div class="login d-flex align-items-top py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto">
                            <h4 class="login-heading mb-4">Login to www.velvasam.net</h4>
                            <form method="POST">
                                {% csrf_token %}
                                {{ form | crispy }}
                                <div class="text-center">
                                    <button class="btn btn-lg btn-secondary btn-block btn-login text-uppercase font-weight-bold mb-2"
                                        type="submit">Login
                                    </button><br>
                                    <a class="small" href="{% url 'accounts:password_reset' %}">Reset Password?</a><br><br>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'home/footer.html' %}
{% endblock %}