{% extends 'home/base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<div class="container-fluid">
    <div class="card mt-2 mb-2">
        <div class="card-header">
            <div class="row">
                    <div class="col-sm-3">
                        {% if member.photo %}
                        <img class="card-img-top" src="{{ member.photo.url }}" alt="Photo" style="width:90px;height:100px;">
                        {% endif %}
                    </div>
                    <div class="col-sm-6">
                        <p class="text-capitalize">
                        Name    :<i>{{member.user.first_name}} {{member.user.last_name}}</i><br>
                        Located : <i> {{member.city}} {{member.country}}</i><br>
                        Contacts: <i>{{member.user.email}} Mobile : {{member.mobile}}</i><br>
                        DOB     : {{member.dob}}
                        </p>
                    </div>
                    <div class="col-sm-3">
                        <a href="{% url 'accounts:change_password' %}" class="btn btn-secondary btn-md">Change Password</a> <br><br>
                        <a href="{% url 'accounts:updateMember' %}" class="btn btn-secondary btn-md">Update Profile</a> <br><br>

                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deleteUserModal">
                            Remove Me.
                        </button>
                        <div class="modal fade" id="deleteUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">Confirm Removal!</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                 Please Confirm you want to remove your login from www.e85pera.net. <br>
                                 All your data will be removed from Database!
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                  <a href="{% url 'accounts:deleteMember' %}" class="btn btn-danger btn-md">Please Remove Me</a> <br><br>
                              </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Owner</th>
                        <th scope="col">Action</th>
                        <th scope="col">Expense</th>
                        <th scope="col">Project</th>
                        <th scope="col">Bank</th> 
                        <th scope="col">Amount</th>
                        <th scope="col">Date</th>
                        <th scope="col">Status</th>
                        <th scope="col">Remarks</th>
                    </tr>
                </thead>
                <tbody>
                   {% for tx in transaction_list %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{tx.owner.first_name}} {{tx.owner.last_name}}</td>
                        <td>{{tx.txType}} </td>
                        <td>{{tx.txType}} </td>
                        <td>{{tx.exType}} </td>
                        <td>{{tx.bank.project.name}}</td>
                        <td>{{tx.bank.name}}</td>
                        <td>{{tx.amount}} </td>
                        <td>{{tx.date}}</td>
                        <td>{{tx.confirmed}}</td>
                        <td>{{tx.remarks}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>
{% include 'home/footer.html' %}
{% endblock %}