{% extends 'home/base.html' %}
{% block content %}
<script type="text/javascript">
    function confirmDeleteModal(id){
        $('#delete_confirm_form').attr('action',"/accounts/projectDel"+id);
        $('#deleteUserModal').modal('show');
    };    
</script>
{% if userRole == 'NONE' %}
<div class="container-fluid">
    <div class="row text-center justify-content-center">
            <div class="card mt-2 mb-2">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-12">
                        Unauthorized to view the content
                    </div>
                </div>
            </div>
            </div>
    </div>
</div>
{% else %}
<div class="container-fluid">
    <div class="row text-center justify-content-center">
            <div class="card mt-2 mb-2">
            <div class="card-header">
                <p fw-bold>Projects</p>
                <div class="row">
                    <div class="col-12 col-md-12">
                            {% if userRole == 'EDIT' %}
                            <a href="{% url 'accounts:projectAdd'  %}" class="btn btn-secondary btn-sm">Add</a>
                            {% endif %}
                            <a href="{% url 'accounts:projectTable'  %}" class="btn btn-secondary btn-sm">View</a>
                            <button onclick="exportExcel()" class="btn btn-secondary btn-md">
                                Excel
                            </button>
                            <button onclick="exportPdf()" class="btn btn-secondary btn-sm">
                                Pdf
                            </button>
                        </div>
                    
                </div>
            </div>

            <div class="card-body">
                <!-- ================= DESKTOP VIEW ================= -->
                <div class="d-none d-md-block">
                    {% for project in project_list %}
                    <div class="row align-items-stretch mb-3">

                        <!-- LEFT -->
                        <div class="col-lg-4">
                            <div class="alert alert-danger h-100">
                                <strong>{{forloop.counter}}. {{project.name}}</strong><br>
                                <small>(Started: {{project.startDate}} | {{project.status}})</small>

                                <ul class="mt-2 mb-0">
                                    <li>Total Fund: {{project.raisedFund|floatformat:"-3g"}}</li>
                                    <li>Total Donated: {{project.spentFund|floatformat:"-3g"}}</li>
                                    <li><strong>Balance: {{project.balance|floatformat:"-3g"}}</strong></li>
                                </ul>
                            </div>
                        </div>

                        <!-- MIDDLE -->
                        <div class="col-lg-5">
                            <div class="alert alert-info h-100">
                                <strong>Objective:</strong><br>
                                {{project.purpose|linebreaks}}
                            </div>
                        </div>

                        <!-- RIGHT -->
                        <div class="col-lg-3">
                            <div class="alert alert-dark h-100 d-flex flex-column align-items-center">

                                <a href="{% url 'accounts:transactionList' project.id %}"
                                class="btn btn-secondary btn-sm w-100 mb-2 text-center">
                                    View Transactions
                                </a>

                                {% if userRole == 'EDIT' %}
                                <a href="{% url 'accounts:projectUpd' project.id %}"
                                class="btn btn-secondary btn-sm w-100 mb-2 text-center">
                                    Update
                                </a>

                                <a href="{% url 'accounts:prjStatusList' project.id %}"
                                class="btn btn-secondary btn-sm w-100 mb-2 text-center">
                                    Status
                                </a>

                                <button class="btn btn-outline-danger btn-sm w-100 mb-2 text-center"
                                        onclick="confirmDeleteModal('{{project.id}}')">
                                    Close Project
                                </button>
                                {% endif %}

                            </div>
                        </div>

                    </div>
                    {% endfor %}
                </div>


                <!-- ================= MOBILE VIEW ================= -->
                <div class="d-block d-md-none">
                    {% for project in project_list %}
                    <div class="card mb-3 shadow-sm">

                        <div class="card-body bg-danger bg-opacity-10">

                            <h5 class="card-title">
                                {{forloop.counter}}. {{project.name}}
                            </h5>

                            <p class="text-muted mb-2">
                                {{project.startDate}} | {{project.status}}
                            </p>

                            <ul class="small">
                                <li>Total Fund: {{project.raisedFund|floatformat:"-3g"}}</li>
                                <li>Total Donated: {{project.spentFund|floatformat:"-3g"}}</li>
                                <li><strong>Balance: {{project.balance|floatformat:"-3g"}}</strong></li>
                            </ul>

                            
                                <div class="p-2 mb-2 objective-bg rounded">
                                    <strong>Objective:</strong><br>
                                    {{project.purpose|truncatewords:25}}
                                </div>
                            
                            <div class="p-2 mb-2 rounded actions-bg">
                                <a href="{% url 'accounts:transactionList' project.id %}" class="btn btn-secondary btn-sm">
                                    Transactions
                                </a>

                                {% if userRole == 'EDIT' %}
                                <a href="{% url 'accounts:projectUpd' project.id %}" class="btn btn-secondary btn-sm">
                                    Update
                                </a>

                                <!--a href="{% url 'accounts:prjStatusList' project.id %}" class="btn btn-secondary btn-sm w-100">
                                    Status
                                </!--a-->

                                <button class="btn btn-outline-danger btn-sm w-80 mb-2 text-center"
                                        onclick="confirmDeleteModal('{{project.id}}')">
                                    Close Project
                                </button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
 </div>

 <div class="modal fade" id="deleteUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
       <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="color:red">Confirm you want to Close the Project.</h5>
                <form id="delete_confirm_form" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-warning mr-1" data-dismiss="modal">CLOSE</button>
                </form>
            </div>
            <div class="modal-footer">
                <p class="modal-title">Click outside this box to Cancel.</p>
            </div>
       </div> 
    </div>
</div>
{% endif %}

<script>
function exportExcel() {
    fetch("{% url 'accounts:projectExcel' %}")
    .then(response => response.blob())
    .then(blob => {
        const url = window.URL.createObjectURL(blob);
        const a = document.createElement('a');
        a.href = url;
        a.download = "projects.xlsx";
        a.click();

        alert("Export projects successful ✅");
    });
}
</script>
<script>
function exportPdf() {
    fetch("{% url 'accounts:projectPdf' %}")
    .then(response => response.blob())
    .then(blob => {
        const url = window.URL.createObjectURL(blob);
        const a = document.createElement('a');
        a.href = url;
        a.download = "projects.pdf";
        a.click();

        alert("Export to Pdf successful ✅");
    });
}
</script>
{% include 'home/footer.html' %}
{% endblock content %}