{% extends 'home/base.html' %}
{% block content %}

<script type="text/javascript">
    function confirmDeleteModal(id){
        $('#delete_confirm_form').attr('action',"/accounts/transactionDel"+id);
        $('#deleteUserModal').modal('show');
    };    
</script>
<h1>Export to Excel successfully</h1>
{% if userRole == 'NONE' %}
<div class="container-fluid">
    <div class="row text-center justify-content-center">
            <div class="card mt-2 mb-2">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-12">
                        Unauthorized to view the content
                    </div>
                </div>
            </div>
            </div>
    </div>
</div>
{% else %}
<div class="container-fluid">
    <div class="row text-center justify-content-center">
            <div class="card mt-2 mb-2">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-12">
                        <strong>Project: {{project_name}}</strong><br>
                        {% if userRole == 'EDIT' %}
                        <a href="{% url 'accounts:transactionAdd' %}" class="btn btn-secondary btn-sm mt-2">Add Transaction</a>
                        <a href="{% url 'accounts:transactionExcel' %}" class="btn btn-secondary btn-sm mt-2">Export to Excel</a>
                        <a href="{% url 'accounts:transactionPdf' %}" class="btn btn-secondary btn-sm mt-2">Export to PDF</a>
                        {% endif %}
                        </div>   
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="d-lg-none">
                            <div class="toast-container p-0" role="alert" aria-live="assertive" aria-atomic="true">
                                {% for tx in transaction_list %}
                                <div class="toast show mb-3 w-90">
                                    <div class="toast-header text-white bg-secondary">
                                        <strong class="me-auto">{{ tx.date }} | {{ tx.txType }}</strong> 
                                        {% if userRole == 'EDIT' %}
                                            <button type="button"><a href="{% url 'accounts:transactionUpd' tx.id %}">Edit</a></button>
                                            <button type="button" data-bs-toggle="modal" onclick="confirmDeleteModal('{{tx.id}}')" id="deleteID">
                                                Delete
                                            </button>
                                        {% endif %}
                                    </div>
                                    <div class="toast-body">
                                        <p class="mb-1"><strong>Account:</strong> {{ tx.bank.name }}</p>          
                                        <p class="mb-1"><strong>Project:</strong> {{ tx.project.name }}</p>
                                        <p class="mb-1"><strong>Beneficiary:</strong> {{ tx.beneficiary.name }}</p>
                                        <p class="mb-1"><strong>Expense:</strong> {{ tx.exType }}</p>
                                        <p class="mb-1"><strong>Amount:</strong> {{ tx.amount|floatformat:"-3g" }}</p>
                                        <p class="mb-1"><strong>Status:</strong> {{ tx.confirmed }}</p>
                                        <p class="mb-1"><strong>Owner:</strong> {{ tx.owner.first_name }} {{ tx.owner.last_name }}</p>
                                        <p class="mb-1"><strong>Remarks:</strong> {{ tx.remarks }}</p>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="d-none d-lg-block">
                          <div class="table-responsive">
                            <table class="table table-striped table-hover table-sm">
                              <thead>
                                  <tr>
                                      <th scope="col">#</th>
                                      <th scope="col">Account</th>
                                      <th scope="col" class="d-none d-sm-table-cell">Project</th>
                                      <th scope="col" class="d-none d-md-table-cell">Beneficiary</th>
                                      <th scope="col">Action</th>
                                      <th scope="col" class="d-none d-md-table-cell">Expense</th>
                                      <th scope="col">Amount</th>
                                      <th scope="col">Date</th>
                                      <th scope="col" class="d-none d-lg-table-cell">Remarks</th>
                                      <th scope="col">Status</th>
                                      <th scope="col" class="d-none d-lg-table-cell">Name</th>
                                      {% if userRole == 'EDIT' %}
                                      <th scope="col">Update</th>
                                      <th scope="col">Delete</th>
                                      {% endif %} 
                                  </tr>
                              </thead>
                              <tbody>
                                 {% for tx in transaction_list %}
                                  <tr>
                                      <th scope="row">{{forloop.counter}}</th>
                                      <td>{{tx.bank.name}}</td>
                                      <td class="d-none d-sm-table-cell">{{tx.project.name}}</td>
                                      <td class="d-none d-md-table-cell">{{tx.beneficiary.name}}</td>
                                      <td>{{tx.txType}}</td>
                                      <td class="d-none d-md-table-cell">{{tx.exType}}</td>
                                      <td>{{tx.amount|floatformat:"-3g"}}</td>
                                      <td>{{tx.date}}</td>
                                      <td class="d-none d-lg-table-cell text-wrap">{{tx.remarks}}</td>
                                      <td>{{tx.confirmed}}</td>
                                      <td class="d-none d-lg-table-cell">{{tx.owner.first_name}} {{tx.owner.last_name}}</td>
                                      {% if userRole == 'EDIT' %}
                                      <td><a href="{% url 'accounts:transactionUpd' tx.id %}" class="btn btn-danger btn-sm mb-1">Edit</a></td>
                                      <td>
                                          <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" onclick="confirmDeleteModal('{{tx.id}}')" id="deleteID">
                                              Delete
                                          </button> 
                                      </td>
                                      {% endif %} 
                                  </tr>
                                  {% endfor %}
                              </tbody>
                            </table>
                          </div>
                        </div>
                        </div>
                </div>
                <hr>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
           <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" style="color:red">Confirm you want to Delete the record.</h5>
                    <form id="delete_confirm_form" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-warning mr-1" data-dismiss="modal">DELETE</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <p class="modal-title">Click outside this box to Cancel.</p>
                </div>
           </div> 
        </div>
    </div>
 </div>
{% endif %}
                      
{% include 'home/footer.html' %}
{% endblock content %}